<div class="center jumbotron">
  <h1>Welcome to Tuitter.-</h1>

  <h2> This is the home page for the Tuitter sample application. </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary white" %>
</div>